*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background:linear-gradient(black,rgba(50, 49, 49, 0.473));
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    transition: 1s;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}
.screen{
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    transition: 0.7s;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    flex: 1 1 auto;
}
.screen>.content>.input{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.screen>.content>.output{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}
::-webkit-scrollbar{
    display: none;
}
.dark>.toggle>.bxs-sun{
    color: black;
    background-color: #ffffff;
}
.dark>.toggle>.bx-moon{
    color: white;
    background-color: black;
}
.light>.toggle{
    transform: translate(19%, -730%);
    position: absolute;
    transition: 1s;
    background: linear-gradient(145deg, #000000cc, #ffffff);
    border-radius: 6px;
}
#input{
display: none;

}
.light>.toggle>.bxs-sun{
    color: #ffffff;
    transition: 1s;
    background-color: black;
}
.light>.toggle>.bx-moon{
    color: black;
    transition: 1s;
    background-color: #ffffff;
}
.dark>.toggle>.bx-moon{
    transition: 1s;
    color: whitesmoke;
}
.dark>.toggle>.bxs-sun{
    color: black;
    transition: 1s;
    background-color: white;
}
.dark>.toggle{
    transform: translate(19%, -730%);
    position: absolute;
    background: linear-gradient(145deg, #ffffff, #000000cc);
    border-radius: 6px;
}
.screen>.content{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
.screen>.content>.input>.operator{
    color:rgb(255 137 16);
}
.screen>.content>.input>.brackets,.screen>.content>.input>.percent{
    color:rgb(32 242 71);
}
.keys{
    background-color: rgb(0 0 0 / 17%);
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1rem;
    box-shadow: 0 -2px 16px black;
}
label>input{
    display: none;
}
.keys .key{
    position: relative;
    cursor: none;
    display: block;
    height:0;
    padding-top: 100%;
    box-shadow: 0px 0px 8px 5px black;
    background-color: rgb(0 0 0 / 24%);
    border-radius: 1rem;
    transition: 0.3s;
    user-select: none;
}
.keys .key:active{
    position: relative;
    cursor: pointer;
    display: block;
    height:0;
    box-shadow: 0px 0px 0px 0px black;
    padding-top: 90%;
    background-color: rgb(0 0 0 / 24%);
    border-radius: 1rem;
    transition: 0.3s;
    user-select: none;
}
.keys .key span{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-weight: 700;
    color:white
}
#loader{
   position: absolute;
   top: 25%;
   left: 25%;
}
#loader img{
    height:50vh;
    width: 50vw;
}
.keys .key.operator span{
    color: orange;
}
.keys .key.action span{
    color: rgb(104, 211, 254);
}